
[layout] {
  box-sizing: border-box;
  display: flex;
}

[block] {
  display: block;
}

[inline-block] {
  display: inline-block;
}

[hide] {
  display: none;
}

[show] {
  display: inherit;
}

[flex] {
  flex: 1;
}
