html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-shadow: 0 0 5px #CCC;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

.appHeader {
    padding-bottom: 20px;
}

.appHeader__taskInput {
    border-color: #999;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
    padding: 10px;
}

.appHeader__addTask {
    border: 1px solid #999;
    border-radius: 0 3px 3px 0;
    padding: 0 20px;
}

.task.completed > div:first-of-type {
    color: #999;
    text-decoration: line-through;
}

.appHeader__taskInput:focus,
.appHeader__addTask:focus {
    border-color: #10d47a;
    box-shadow: 0 0 5px #10d47a;
}

.taskList {
    padding: 20px 0;
}

.taskList header {
    color: #999;
    font-size: 24px;
}

.completedTasks {
    border-top: 1px solid #999;
}